
<div id="workspace" class="workspace" >
<div  class="mesh" #meshId
></div>
<!--
<button class="mat-raised-button" style="z-index: 4;" (click)=deleteBoxOfPp()>deleteBoxOfPp</button>
<button class="mat-raised-button" style="z-index: 4;" (click)=deleteBoxOfPallet()>deleteBoxOfPallet</button>
<button class="mat-raised-button" style="z-index: 4;" (click)=check()>check</button>
<button class="mat-raised-button" style="z-index: 4;" (click)=hide()>hide</button>
-->

</div>
<div id="gui-container"cdkDrag>
  <div #guiContainerId ></div>
  <div id="gui-buttons">
    <button class="mat-raised-button" style="z-index: 4;" (click)=deleteBoxOfPp()>delete last box from Picking place</button>
    <button class="mat-raised-button" style="z-index: 4;" (click)=deleteBoxOfPallet()>delete last box from pallet</button>
  </div>
</div>


