

<ng-template >
  <div id="add-pallet" class="drag-box"  cdkDrag cdkDragRootElement=".cdk-overlay-pane" >
      <h3 class="pallet-header">Box editor</h3>
    <div class="drag-handle"  cdkDragHandle>
      <svg width="30px" fill="currentColor" viewBox="0 0 24 24">
        <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>

    </div>
    <mat-tab-group color="accent" class="tabs-container" > <!--(selectedTabChange)="tabChange($event)"-->
      <mat-tab label="Dimension" class="tab">
        <div class="tab-box mat-elevation-z4">
          <form class="form">
            <mat-form-field class="form-full-width">
              <mat-label>Width [mm]</mat-label>
              <input matInput placeholder="100" [(ngModel)]="box.width" value="pallet.width" name="inputWidth">
            </mat-form-field>
            <mat-form-field class="form-full-width">
              <mat-label>Length [mm]</mat-label>
              <input matInput placeholder="100" [(ngModel)]="box.length" value="pallet.length" name="inputLength">
            </mat-form-field>
            <mat-form-field class="form-full-width">
              <mat-label>Height [mm]</mat-label>
              <input matInput placeholder="100" [(ngModel)]="box.height" value="pallet.height" name="inputHeight">
            </mat-form-field>
          </form>
        </div>
      </mat-tab>
      <mat-tab  class="tab" label = "Position">

        <div class="tab-box mat-elevation-z4">
            <form class="form">
              <mat-form-field class="form-full-width">
                <mat-label>Position X [mm]</mat-label>
                <input matInput placeholder="100" [(ngModel)]="box.posX" value="pallet.posX" name="inputPosX">
              </mat-form-field>
              <mat-form-field class="form-full-width">
                <mat-label>Position Y [mm]</mat-label>
                <input matInput placeholder="100" [(ngModel)]="box.posY" value="pallet.posY" name="inputPosY">
              </mat-form-field>
              <mat-form-field class="form-full-width">
                <mat-label>Position Z [mm]</mat-label>
                <input matInput placeholder="100" [(ngModel)]="box.posZ" value="pallet.posZ" name="inputPosZ">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Select an orientation</mat-label>
                <mat-select [(value)]="box.orientation">
                  <mat-option value=0>0 deg</mat-option>
                  <mat-option value=90>90 deg</mat-option>
                  <mat-option value=180>180 deg</mat-option>
                  <mat-option value=270>270 deg</mat-option>
                </mat-select>
              </mat-form-field>
              <!--<button class="mat-raised-button" (click)="takeParentPos()">Take parents Position</button>-->

            </form>

          </div>
      </mat-tab>
      <mat-tab label="Membership" class="tab" >
        <div class="tab-box mat-elevation-z4" style="display: flex; flex-direction: column;">

        <mat-form-field *ngIf="this.parentsNames!=null">
          <mat-label >choose parent</mat-label>
          <mat-select [(value)]="this.box.membership" (selectionChange)="selectionChange($event)">
            <mat-option></mat-option>
            <mat-option [value]="name" *ngFor="let name of parentsNames">{{ name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="this.parentsNames!=null">
          <mat-label >defined in</mat-label>
          <mat-select [(value)]="this.box.defnedIn" >
            <mat-option></mat-option>
            <mat-option [value]="name" *ngFor="let name of parentsNames">{{ name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="this.parentsNames!=null">
          <mat-label >source</mat-label>
          <mat-select [(value)]="this.box.source" >
            <mat-option></mat-option>
            <mat-option [value]="name" *ngFor="let name of parentsNames">{{ name }}</mat-option>
          </mat-select>
        </mat-form-field>
        </div>
      </mat-tab>
    </mat-tab-group>
<div style="display: flex; flex-direction: row;">
  <!--<button class="mat-raised-button" (click)="addBoxButton.emit($event)">Add</button>-->
  <button class="mat-raised-button" (click)="AddBox()">Add</button>
</div>

    <!--<button class="mat-raised-button" (click)="console()">Add</button>-->
  </div>

  </ng-template>

  <!--
  <button (click)="openDialog()">Open a draggable dialog</button>
  -->



