
<div id="workspace" class="workspace" >
   <div class="workspace-box"
   [ngStyle]="{
    'width.px': setWorkspace.width.toString(),
    'height.px': setWorkspace.height.toString()
  }"
   >


    <div id="WCS" cdkDrag>
      <svg width="139" height="149" viewBox="0 0 139 149" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M117.414 114.414C118.195 113.633 118.195 112.367 117.414 111.586L104.686 98.8579C103.905 98.0768 102.639 98.0768 101.858 98.8579C101.077 99.6389 101.077 100.905 101.858 101.686L113.172 113L101.858 124.314C101.077 125.095 101.077 126.361 101.858 127.142C102.639 127.923 103.905 127.923 104.686 127.142L117.414 114.414ZM36 115H116V111H36V115Z" fill="#EB5757"/>
        <path d="M37.4142 31.5858C36.6332 30.8047 35.3668 30.8047 34.5858 31.5858L21.8579 44.3137C21.0768 45.0948 21.0768 46.3611 21.8579 47.1421C22.6389 47.9232 23.9052 47.9232 24.6863 47.1421L36 35.8284L47.3137 47.1421C48.0948 47.9232 49.3611 47.9232 50.1421 47.1421C50.9232 46.3611 50.9232 45.0948 50.1421 44.3137L37.4142 31.5858ZM38 113L38 33H34L34 113H38Z" fill="#27AE60"/>
        <circle cx="36" cy="113" r="15" fill="#2D9CDB"/>
        <path d="M130.629 109.82L133.828 103.938H137.871L132.902 112.398L138 121H133.91L130.629 115.023L127.348 121H123.258L128.355 112.398L123.387 103.938H127.43L130.629 109.82Z" fill="#EB5757"/>
        <path d="M5.25 140.176H13.8516V143H0.855469V140.938L9.29297 128.785H0.867188V125.938H13.6641V127.953L5.25 140.176Z" fill="#2D9CDB"/>
        <path d="M36.4062 12.625L39.957 4.9375H43.8008L38.1992 15.8125V22H34.625V15.8125L29.0234 4.9375H32.8789L36.4062 12.625Z" fill="#27AE60"/>
        </svg>
    </div>

<!--
<div cdkDrag>
  <svg >

  <g>
    <line x1="10" y1="10" x2="85" y2="10"
        style="stroke: #006600;"/>

    <rect x="10" y="20" height="50" width="75"
        style="stroke: #006600; fill: #006600"/>

    <text x="10" y="90" style="stroke: #660000; fill: #660000">
      Text grouped with shapes</text>
  </g>

</svg>
 </div>
-->




    <!--
<button (click) = "addPallet()">Add Pallet1</button>
    <p *ngIf="parentsValue">Parents value is true </p>
    <p *ngIf="!parentsValue">Parents value is false</p>
    <textarea>{{parentsValue}}</textarea>
     -->
    <!---<button (click) = "check()">check</button> -->
    <div class="pallet "  id={{pallet.name}}
    *ngFor="let pallet of pallets;
    let index=index"
    cdkDrag
    #palletHash

    (click)="move($event)"
    [ngStyle]="{
      'width.px': pallet.width.toString(),
      'height.px':pallet.length.toString(),
      'left.px':pallet.posX.toString(),
      'bottom.px':pallet.posY.toString()



    }">

    <!--viewBox="0 0 pallet.width pallet.length"-->
    <svg attr.width="{{pallet.width}}" attr.height="{{pallet.length}}"
      preserveAspectRatio="xMinYMin meet">


        <rect
        attr.width="{{pallet.width}}"
        attr.height="{{pallet.length}}"
        rx="10"
        ry="10"
        style="stroke: #0b5ef8bb; fill: #5eb9f525"
        stroke-width="2"/>
        <line x1="0" y1="0" x2="-20" y2="0"
        style="stroke: #130066;"/>


        <rect
        width="10"
        height="10"
        x="0"
        attr.y="{{pallet.length-10}}"
        style=" fill: #000000"
        stroke-width="2"/>


      </svg>


<!--
    <div class="pallet" *ngFor="let pallet of pallets; let index=index" cdkDrag   [ngStyle]="{'width.px': '#pallet.width' }" >#{{pallet.width}}
     <div class="pallet" *ngFor="let pallet of pallets; let index=index" cdkDrag [ngStyle]="{'width.px': '400' }"> -->
      <!--

<div
      [(ngModel)]="pallet.palletName"
      name="{{pallet.palletName}}"
      id="{{pallet.id}}"
      ngDefaultControl>
        <label>{{pallet.palletName}}</label>
        </div>
      -->


        <!--
        <label>{{pallet.id}}</label>
        -->
<!--
<button type="button" (click)="deletePallet(pallet.id)"> delete </button>
-->


    </div>
    <div class="box "  id={{box.name}}
    *ngFor="let box of boxes;
    let index=index"
    cdkDrag
    #boxHash
    (click)="move($event)"
    [ngStyle]="{
      'width.px': box.width.toString(),
      'height.px':box.length.toString(),
      'left.px':box.posX.toString(),
      'bottom.px':box.posY.toString()
    }">
    <svg attr.width="{{box.width}}" attr.height="{{box.length}}"
      preserveAspectRatio="xMinYMin meet">
        <rect
        attr.width="{{box.width}}"
        attr.height="{{box.length}}"
        rx="10"
        ry="10"
        style="stroke: #f50101bb; fill: #f55e5e31"
        stroke-width="2"/>
        <line x1="0" y1="0" x2="-20" y2="0"
        style="stroke: #130066;"/>

        <rect
        width="10"
        height="10"
        x="0"
        attr.y="{{box.length-10}}"
        style=" fill: #000000"
        stroke-width="2"/>


      </svg>


    </div>











    <div class="Kcs" id="Kcs"
    [ngStyle]="{
     'left.px': setKcs.posX.toString(),
     'bottom.px': setKcs.posY.toString()
   }">
  <svg width="60" height="60" viewBox="0 0 200 200" fill="none" >
    <circle cx="100" cy="100" r="47.5" stroke="black" stroke-width="5"/>
    <line x1="102.5" x2="102.5" y2="200" stroke="black" stroke-width="5"/>
    <line y1="97.5" x2="200" y2="97.5" stroke="black" stroke-width="5"/>
    <text x="0" y="200" style="stroke: #000000; fill: #000000; font-size: 50" >
      KCS</text>
    </svg>
  </div>
<!-----------------------------------test---------------------->
<!--
<div class="pallet"  cdkDrag
    [ngStyle]="{
      'width.px': (palletsService.palletSets.width/5).toString(),
      'height.px':(palletsService.palletSets.length/5).toString(),
      'left.px':(palletsService.palletSets.posX).toString(),
      'top.px':(palletsService.palletSets.posY).toString()
    }">
      <svg width="160" height="240" viewBox="10 20 160 240"
      preserveAspectRatio="xMinYMin meet">

          <rect
          x="10"
          y="20"
          attr.height="{{(palletsService.palletSets.length)/5}}"
          attr.width="{{(palletsService.palletSets.width)/5}}"
          rx="10"
          ry="10"
          style="stroke: #0b5ef8bb; fill: #5eb9f525"
          stroke-width="2"/>

      </svg>
    </div>
-->



<!------------------------------------koniec testu------------->

      <!--
<div>
        <svg>
        <g>
            <rect

              x="100"
              y="100"
              width="100"
              height="100"
              rx="10"
              ry="10"
              style="stroke: black; fill: white"

              stroke-width="0.5"

              attr.filter= "url(#shadow)"
              >
            </rect>
          </g>
      </svg>
       </div>
      -->




</div>
</div>
<!--
<div id="testDiv" *ngIf="setWorkspace !=null">
<textarea>{{setWorkspace.height}} height</textarea>
<textarea>{{setWorkspace.width}} width</textarea>
    </div>
-->

<div id="editPlace" cdkDrag style="z-index: 2;" #getHeight>
      <!--<button (click)="setPos()" id="btn2"> set Position</button>
    <button  id="btn3" style="position: absolute;"> move me </button>-->
      <textarea id="area1">{{getPosValY}}</textarea>
      <textarea id="area2">{{getPosValX}}</textarea>
      <textarea id="area3">{{translateX}}</textarea>
      <button (click)="getPos('Pallet1')" id="btn2"> get Position</button>


<!--
Height of above tag : {{ getHeight.offsetHeight }}
-->



      <!--
 <mat-form-field>
        <mat-label>Position Top</mat-label>
        <input matInput type="text" [(ngModel)]="setPosValY">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Position Left</mat-label>
        <input matInput type="text" [(ngModel)]="setPosValX">
      </mat-form-field>
      -->

    </div>






    <!--
<button (click)="addPallet()">Add Pallet</button>
    <div class="pallet" *ngFor="let pallet of pallets; let index=index" cdkDrag>
      <div [(ngModel)]="pallet.palletName" name="{{pallet.palletName}}" id="palletId{{index}}" ngDefaultControl>
        <label>{{pallet.palletName}}</label>
        <label>{{pallet.id}}</label>
      </div>
      <button type="button" (click)="deletePallet(pallet.id)"> delete </button>


        </div>
    -->



<!--
 <button (click)="add()">Add</button>
 <button (click)="add1()">Add1</button>
  <div id="contentInside" *ngFor="let container of containers"  (click)="getPos(id)" cdkDrag>
      <h1>item</h1>
      {{id}}

    </div>
-->


























